# Віртуальне середовище
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.idea/
.vscode/

# Системні файли
.DS_Store
Thumbs.db

# Логи
*.log

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

# pytest
.pytest_cache/

# mypy
.mypy_cache/
